.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-root {
	margin: 0 20%;
	font-size: 16pt;
	background-color: lightblue;
	padding: 50px;
}

.app-root span.input-row {
	margin: 5px 20px;
	display: block;
}

.app-root label {
	display: inline-block;
	width: 20%;
	text-align: right;
	padding-right: 20px;
}

.app-root input {
	width: 75%;
	font-size: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.app-root textarea {
	margin: 5px 50px;
	width: 85%;
	padding: 30px;
	font-size: 20px;
}

.app-root div.button-row {
	text-align: center;
	overflow-wrap: break-word;
}

.app-root div.button-row button {
	font-size: 20px;
	margin-right: 20px;
	width: 100px;
}
